$main-color: #fac83f;
$main-background-color: #0a101e;
$second-background-color: #101624;
$main-text-color: #fff;
$second-text-color: #e4e4e4;
$therd-text-color: #6e6f71;
$section-padding: 60px;
$main-transition: 0.6s;
$long-transition: 1s;
